# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\NATALIA\DAW\Lenguaje de Marcas\Ejercicios\UT2_P2_NataliaCristóbalRodríguez\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
